<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <connectionStrings>
    <add name="CICRep" connectionString="Data Source=44.0.16.24;Initial Catalog=CICPreport;Integrated Security=false;uid=sa;Password=CICser2016"/>
    <add name="CICRepI" connectionString="Provider=Ifxoledbc;Data Source=reportdb@online_1a;Persist Security Info=True;User ID=dvlp;Password=a1b2c3"/>
  </connectionStrings>
</configuration>
